h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    color: rgb(56, 102, 65);
}
h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    color: rgb(56, 102, 65)
}
h3 {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    color: rgb(255,255,255)
}
li, p, form, td, th {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255)
}
input {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    color: rgb(56, 102, 65)
}
table {
    border-collapse: collapse;
    border-color: rgb(133, 223, 106, 0.719);
}
body {
    background-image: url(https://wallpaperaccess.com/full/812553.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 5%;
}